flask
itsdangerous
werkzeug
sqlalchemy
pymysql
dill
gunicorn
pymupdf>=1.24.7
rmap @ https://github.com/nharrand/RMAP-Server/releases/download/v2.0.0/rmap-2.0.0-py3-none-any.whl
pytest-cov
mutmut
pytest-xdist
requests
